# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# Uploaded files (keep directory structure)
public/uploads/**
!public/uploads/.gitkeep
!public/uploads/**/.gitkeep
